@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.dbg-border {
  border: 1px solid red !important;
}

.dbg-border-blue {
  border: 1px solid blue !important;
}

.dbg-border-green {
  border: 1px solid green !important;
}

.nikk-card {
  border-width: 1px;
  border-style: solid;
  box-shadow: none;
}

.nikk-container {
  padding: 3rem;
  padding-bottom: 2rem;
}

.nikk-container-fluid {
  padding: 0;
  padding-bottom: 0;
}

@media (max-width: 640px) {
  .nikk-container {
    padding: 1rem;
    padding-bottom: 1.5rem;
  }
}
